args*/*
scripts*/*
Draw_TRADES*/*
Other_eval*/*
get_exper*/*
*.ps1
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/


# *.sh
*.png
get_*.py
get_*.ipynb
.DS_Store


.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Log
log/

# tmp*.txt wait*.sh
tmp*.txt
wait*.sh